
@import "base";
@import "h5bp";


@-webkit-viewport { width: device-width; }
@-moz-viewport    { width: device-width; }
@-ms-viewport     { width: device-width; }
@-o-viewport      { width: device-width; }
@viewport         { width: device-width; }


@import "bootstrap-cover";

.text-left {
  text-align: left !important;
}

.form-group > [class*="col-"] + .ws-errorbox {
  padding: 0 15px;
}

.form-control-feedback {
  visibility: hidden;
}

.has-success {
  .glyphicon-ok,
  .fa-check-square-o {
    visibility: visible;
  }
}
.has-error {
  .glyphicon-remove {
    visibility: visible;
  }
}

input[type=date],
input.ws-date {
  ~ .form-control-feedback {
    right: 2.7em !important;
  }
}

select,
input[type=number] {
  ~ .form-control-feedback {
    right: 2.2em !important;
  }
}

.input-group {
  ~ .form-control-feedback,
  .form-control-feedback {
    z-index: 3;
  }
}

#dev-warning {
  margin-bottom: 0;
}

nav.navbar {
  margin-bottom: 0;
}


.auth-panel {
  max-width: 33em;
}

form label .info-text {
  font-size: 0.7em;
}

/* Sticky footer styles
-------------------------------------------------- */
html {
  position: relative;
  min-height: 100%;
}
body {
  /* Margin bottom by footer height */
  margin-bottom: 60px;
}
#footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  /* Set the fixed height of the footer here */
  height: 60px;
  background-color: #f5f5f5;
  #heroku-powered {
    display: inline-block;
    height: 100%;
    color: rgb(103,99,161) //#c7c0de;
  }
  #mac-logo {
    color: silver;
    text-shadow: 0 0 3px rgba(33,33,33,0.5);
  }
  a:hover {
    #mac-logo {
      color: lightgrey;
    }
  }
  a, span {
    padding-top: 5px;
    height: 100%;
    display: inline-block;
  }
  span {
    line-height: 100%;
    vertical-align: bottom;
  }
}

@import "h5bp-helpers";
