
<div class="panel panel-default">
  <div class="panel-heading">
    <h3 class="panel-title">Application ID: {%raw%}{{locals.application.Id}}{%endraw%}</h3>
  </div>
  <div class="panel-body">
    <div class="form-horizontal">
      <div class="form-group has-feedback">
        <label class="col-sm-3 control-label" for="GivenName">Given Name<span class="mandatory">*</span></label>
        <div class="col-sm-9">
          <div class="form-control-static">{%raw%}{{locals.application.GivenName}}{%endraw%}</div>
        </div>
      </div>
      <div class="form-group has-feedback">
        <label class="col-sm-3 control-label" for="Surname">Surname</label>
        <div class="col-sm-9">
          <div class="form-control-static">{%raw%}{{locals.application.Surname}}{%endraw%}</div>
        </div>
      </div>
      <div class="form-group has-feedback">
        <label class="col-sm-3 control-label" for="HasAliases">Are you known by any other names(aliases)?<span class="mandatory">*</span></label>
        <div class="col-sm-9">
          <div class="form-control-static">{%raw%}{{locals.application.HasAliases}}{%endraw%}</div>
        </div>
      </div>
      <div class="form-group has-feedback">
        <label class="col-sm-3 control-label" for="HaveChangedName">Have you ever changed your name ?<span class="mandatory">*</span></label>
        <div class="col-sm-9">
          <div class="form-control-static">{%raw%}{{locals.application.HasAliases}}{%endraw%}</div>
        </div>
      </div>
      <div class="form-group has-feedback">
        <label for="ContactNumber" class="col-sm-3 control-label">Contact Number</label>
        <div class="col-sm-9">
          <div class="form-control-static">{%raw%}{{locals.application.ContactNumber}}{%endraw%}</div>
        </div>
      </div>
      <div class="form-group has-feedback">
        <label class="col-sm-3 control-label" for="DateOfBirth">Date of Birth<span class="mandatory">*</span></label>
        <div class="col-sm-9">
          <div class="form-control-static">{%raw%}{{locals.application.DateOfBirth}}{%endraw%}</div>
        </div>
      </div>
      <hr />
      <h4>Application Details</h4>
      <div class="form-group has-feedback">
        <label for="PassportType" class="col-sm-3 control-label">Passport Type <span class="mandatory">*</span></label>
        <div class="col-sm-9">
          <div class="form-control-static">{%raw%}{{locals.application.PassportType}}{%endraw%}</div>
        </div>
      </div>
      <div class="form-group has-feedback">
        <label for="ApplyingFor" class="col-sm-3 control-label">Applying for <span class="mandatory">*</span></label>
        <div class="col-sm-9">
          <div class="form-control-static">{%raw%}{{locals.application.ApplyingFor}}{%endraw%}</div>
        </div>
      </div>
      <div class="form-group has-feedback">
        <label for="ApplicationType" class="col-sm-3 control-label">Type of Application <span class="mandatory">*</span></label>
        <div class="col-sm-9">
          <div class="form-control-static">{%raw%}{{locals.application.ApplicationType}}{%endraw%}</div>
        </div>
      </div>
      <div class="form-group has-feedback">
        <label for="PassportBookletType" class="col-sm-3 control-label">Type of Passport Booklet <span class="mandatory">*</span></label>
        <div class="col-sm-9">
          <div class="form-control-static">{%raw%}{{locals.application.PassportBookletType}}{%endraw%}</div>
        </div>
      </div>
      <div class="form-group has-feedback">
        <label for="ValidityRequired" class="col-sm-3 control-label">Validity Required <span class="info-text">(For minors between 15 and 18)</span></label>
        <div class="col-sm-9">
          <div class="form-control-static">{%raw%}{{locals.application.ValidityRequired}}{%endraw%}</div>
        </div>
      </div>
      <h4>Place Of Birth</h4>
      <div class="form-group has-feedback">
        <label for="City" class="col-sm-3 control-label">Village or Town or City<span class="mandatory">*</span></label>
          <div class="col-sm-9">
            <div class="form-control-static">{%raw%}{{locals.application.City}}{%endraw%}</div>
          </div>
      </div>
      <div class="form-group has-feedback">
        <label for="Country" class="col-sm-3 control-label">Country <span class="mandatory">*</span></label>
          <div class="col-sm-9">
            <div class="form-control-static">{%raw%}{{locals.application.Country}}{%endraw%}</div>
          </div>
      </div>
      <div class="form-group has-feedback">
        <label for="State" class="col-sm-3 control-label">State </span><span class="mandatory">*</span></label>
          <div class="col-sm-9">
            <div class="form-control-static">{%raw%}{{locals.application.State}}{%endraw%}</div>
          </div>
      </div>
      <div class="form-group has-feedback">
        <label for="District" class="col-sm-3 control-label">District </span><span class="mandatory">*</span></label>
          <div class="col-sm-9">
            <div class="form-control-static">{%raw%}{{locals.application.District}}{%endraw%}</div>
          </div>
      </div>
      <div class="form-group has-feedback">
        <label for="Gender" class="col-sm-3 control-label">Gender<span class="mandatory">*</span></label>
          <div class="col-sm-9">
            <div class="form-control-static">{%raw%}{{locals.application.Gender}}{%endraw%}</div>
          </div>
      </div>
      <div class="form-group has-feedback">
        <label for="MaritalStatus" class="col-sm-3 control-label">Marital Status<span class="mandatory">*</span></label>
          <div class="col-sm-9">
            <div class="form-control-static">{%raw%}{{locals.application.MaritalStatus}}{%endraw%}</div>
          </div>
      </div>
      <div class="form-group has-feedback">
        <label for="CitizenshipBy" class="col-sm-3 control-label">Citizenship of India by<span class="mandatory">*</span></label>
          <div class="col-sm-9">
            <div class="form-control-static">{%raw%}{{locals.application.CitizenshipBy}}{%endraw%}</div>
          </div>
      </div>
      <div class="form-group has-feedback">
        <label for="PAN" class="col-sm-3 control-label">PAN</label>
          <div class="col-sm-9">
            <div class="form-control-static">{%raw%}{{locals.application.PAN}}{%endraw%}</div>
          </div>
      </div>
      <div class="form-group has-feedback">
        <label for="VoterID" class="col-sm-3 control-label">Voter ID</label>
          <div class="col-sm-9">
            <div class="form-control-static">{%raw%}{{locals.application.VoterID}}{%endraw%}</div>
          </div>
      </div>
      <div class="form-group has-feedback">
        <label for="EmploymentType" class="col-sm-3 control-label">Employment Type<span class="mandatory">*</span></label>
          <div class="col-sm-9">
            <div class="form-control-static">{%raw%}{{locals.application.EmploymentType}}{%endraw%}</div>
          </div>
      </div>
      <div class="form-group has-feedback">
        <label for="EducationalQualification" class="col-sm-3 control-label">Educational Qualification<span class="mandatory">*</span></label>
          <div class="col-sm-9">
            <div class="form-control-static">{%raw%}{{locals.application.EducationalQualification}}{%endraw%}</div>
          </div>
      </div>
      <div class="form-group has-feedback">
        <label for="AadhaarNumber" class="col-sm-3 control-label">Aadhaar Number</label>
          <div class="col-sm-9">
            <div class="form-control-static">{%raw%}{{locals.application.AadhaarNumber}}{%endraw%}</div>
          </div>
      </div>
      <hr />
      <h4>Family Details (Father/Mother/Legal Guardian details; at least one is mandatory.) <span class="mandatory">*</span></h4>
      <div class="form-group has-feedback">
        <label class="col-sm-3 control-label" for="FatherGivenName">Father's Given Name</label>
          <div class="col-sm-9">
            <div class="form-control-static">{%raw%}{{locals.application.FatherGivenName}}{%endraw%}</div>
          </div>
      </div>
      <div class="form-group has-feedback">
        <label class="col-sm-3 control-label" for="FatherSurname">Father's Surname</label>
          <div class="col-sm-9">
            <div class="form-control-static">{%raw%}{{locals.application.FatherSurname}}{%endraw%}</div>
          </div>
      </div>
      <div class="form-group has-feedback">
        <label class="col-sm-3 control-label" for="MotherGivenName">Mother's Given Name</label>
          <div class="col-sm-9">
            <div class="form-control-static">{%raw%}{{locals.application.MotherGivenName}}{%endraw%}</div>
          </div>
      </div>
      <div class="form-group has-feedback">
        <label class="col-sm-3 control-label" for="MotherSurname">Mother's Surname</label>
          <div class="col-sm-9">
            <div class="form-control-static">{%raw%}{{locals.application.MotherGivenName}}{%endraw%}</div>
          </div>
      </div>
      <div class="form-group has-feedback">
        <label class="col-sm-3 control-label" for="LegalGuardianGivenName">Legal Guardian's Given Name</label>
          <div class="col-sm-9">
            <div class="form-control-static">{%raw%}{{locals.application.LegalGuardianGivenName}}{%endraw%}</div>
          </div>
      </div>
      <div class="form-group has-feedback">
        <label class="col-sm-3 control-label" for="LegalGuardianSurname">Legal Guardian's Surname</label>
          <div class="col-sm-9">
            <div class="form-control-static">{%raw%}{{locals.application.LegalGuardianSurname}}{%endraw%}</div>
          </div>
      </div>
      <hr />
      <h4>Present Residential Address Details (where applicant presently resides)</h4>
      <div class="form-group has-feedback">
        <label class="col-sm-3 control-label" for="PresentAddressOutOfCountry">Is your present address out of India? <span class="mandatory">*</span></label>
          <div class="col-sm-9">
            <div class="form-control-static">{%raw%}{{locals.application.PresentAddressOutOfCountry}}{%endraw%}</div>
          </div>
      </div>
      <hr />
      <h4>References in your Village or Town or City</h4>
      <div class="form-group has-feedback">
        <label for="FirstReferenceNameandAddress" class="col-sm-3 control-label">First Reference Name and Address<span class="mandatory">*</span></label>
          <div class="col-sm-9">
            <div class="form-control-static">{%raw%}{{locals.application.FirstReferenceNameandAddress}}{%endraw%}</div>
          </div>
      </div>
      <div class="form-group has-feedback">
        <label for="FirstReferenceMobileNumber" class="col-sm-3 control-label">Mobile Number</label>
          <div class="col-sm-9">
            <div class="form-control-static">{%raw%}{{locals.application.FirstReferenceMobileNumber}}{%endraw%}</div>
          </div>
      </div>
      <div class="form-group has-feedback">
        <label for="SecondReferenceNameandAddress" class="col-sm-3 control-label">Second Reference Name and Address<span class="mandatory">*</span></label>
          <div class="col-sm-9">
            <div class="form-control-static">{%raw%}{{locals.application.SecondReferenceNameandAddress}}{%endraw%}</div>
          </div>
      </div>
      <div class="form-group has-feedback">
        <label for="SecondReferenceMobileNumber" class="col-sm-3 control-label">Mobile Number</label>
          <div class="col-sm-9">
            <div class="form-control-static">{%raw%}{{locals.application.SecondReferenceMobileNumber}}{%endraw%}</div>
          </div>
      </div>
      <hr />
      <h4>Emergency Contact Details </h4>
      <div class="form-group has-feedback">
        <label for="EmergencyNameAndAddress" class="col-sm-3 control-label">Name and Address<span class="mandatory">*</span></label>
          <div class="col-sm-9">
            <div class="form-control-static">{%raw%}{{locals.application.EmergencyNameAndAddress}}{%endraw%}</div>
          </div>
      </div>
      <div class="form-group has-feedback">
        <label for="EmergencyMobileNumber" class="col-sm-3 control-label">Mobile Number</label>
          <div class="col-sm-9">
            <div class="form-control-static">{%raw%}{{locals.application.EmergencyMobileNumber}}{%endraw%}</div>
          </div>
      </div>
      <hr />
      <h4>Previous Passport / Application Details</h4>
      <div class="form-group has-feedback">
        <label for="AppliedButNotIssued" class="col-sm-3 control-label">Have you ever applied for passport, but not issued?<span class="mandatory">*</span></label>
          <div class="col-sm-9">
            <div class="form-control-static">{%raw%}{{locals.application.AppliedButNotIssued}}{%endraw%}</div>
          </div>
      </div>
      <div class="form-group has-feedback">
        <label for="PreviousPassportNumber" class="col-sm-3 control-label">Previous Passport Number</label>
          <div class="col-sm-9">
            <div class="form-control-static">{%raw%}{{locals.application.PreviousPassportNumber}}{%endraw%}</div>
          </div>
      </div>
      <hr />
      <h4>Other Details</h4>
      <div class="form-group has-feedback">
        <label for="OtherDetails1" class="col-sm-10 control-label text-left">1) Have you ever been charged with criminal proceedings or any arrest warrant/ summon pending before a court of India? <span class="mandatory">*</span></label>
        <div class="col-sm-2">
          <div class="form-control-static">{%raw%}{{locals.application.OtherDetails1}}{%endraw%}</div>
        </div>
      </div>
      <div class="form-group has-feedback">
        <label for="OtherDetails2" class="col-sm-10 control-label text-left">2) Have you at any time during the period of 5 years immediately preceding the date of this application been convicted by a court in India for any criminal offence and sentenced to imprisonment for two years or more? <span class="mandatory">*</span></label>
        <div class="col-sm-2">
          <div class="form-control-static">{%raw%}{{locals.application.OtherDetails2}}{%endraw%}</div>
        </div>
      </div>
      <div class="form-group has-feedback">
        <label for="OtherDetails3" class="col-sm-10 control-label text-left">3) Have you ever been refused or denied passport?  <span class="mandatory">*</span></label>
        <div class="col-sm-2">
          <div class="form-control-static">{%raw%}{{locals.application.OtherDetails3}}{%endraw%}</div>
        </div>
      </div>
      <div class="form-group has-feedback">
        <label for="OtherDetails4" class="col-sm-10 control-label text-left">4) Has your Passport ever been impounded or Revoked? <span class="mandatory">*</span></label>
        <div class="col-sm-2">
          <div class="form-control-static">{%raw%}{{locals.application.OtherDetails4}}{%endraw%}</div>
        </div>
      </div>
      <div class="form-group has-feedback">
        <label for="OtherDetails5" class="col-sm-10 control-label text-left">5) Have you ever applied for/been granted political asylum to/by any foreign country? <span class="mandatory">*</span></label>
        <div class="col-sm-2">
          <div class="form-control-static">{%raw%}{{locals.application.OtherDetails5}}{%endraw%}</div>
        </div>
      </div>
      <div class="form-group has-feedback">
        <label for="OtherDetails6" class="col-sm-10 control-label text-left">6) Have you ever returned to India on Emergency Certificate (EC) or were ever deported or repatriated? <span class="mandatory">*</span></label>
        <div class="col-sm-2">
          <div class="form-control-static">{%raw%}{{locals.application.OtherDetails6}}{%endraw%}</div>
        </div>
      </div>
      <div class="form-group">
        <div class="col-sm-6">
          <form action="./{%raw%}{{locals.application.Id}}{%endraw%}" method="post" >
            <input type="hidden" name="action" value="validate" />
            <input type="submit" value="Validate" class="btn btn-primary btn-block" />
          </form>
        </div>
        <div class="col-sm-6">
          <form action="./{%raw%}{{locals.application.Id}}{%endraw%}" method="post">
            <input type="hidden" name="action" value="reject" />
            <input type="submit" value="Reject" class="btn btn-danger btn-block" />
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
