
<div id="books-list" class="container-fluid">
  <!-- <div class="text-center">
    <ul class="pagination">
      <li <%= (current > 0) ? "><a href=\"?currentPage="+(current-1)+"&amp;resultsPerPage="+length+((detailsISBN!=null)?"&autoSelectFirst":"")+"\">&laquo;</a" : "class=\"disabled\"><span>&laquo;</span"%>></li>
      <%
        for (int i = 0; i < totalPages; i++) {
          if (i == current) {
      %>
      <li class="active"><span> <%=i+1%> <span class="sr-only">(current) </span></span></li>
      <%  } else { %>
      <li><a href="?currentPage=<%=""+i+"&amp;resultsPerPage="+length+((detailsISBN!=null)?"&autoSelectFirst":"")+"\"> "+(i+1)%> </a></li>
      <%
          }
        }
      %>
      <li <%= (current < totalPages-1) ? "><a href=\"?currentPage="+(current+1)+"&amp;resultsPerPage="+length+((detailsISBN!=null)?"&autoSelectFirst":"")+"\">&raquo;</a" : "class=\"disabled\"><span>&raquo;</span"%>></li>
    </ul>
  </div> -->
  <table class="table table-striped table-hover table-responsive">
    <thead>
      <tr>
        <th>Id</th>
        <th>Given Name</th>
        <th>Surname</th>
        <th>Passport Type</th>
        <th>Applying for</th>
        <th>Type of Application</th>
      </tr>
    </thead>
    <tbody>
      {%raw%}{{#locals.applications}}
      <tr>
        <td><a href="../details/{{Id}}">{{Id}}</a></td>
        <td><a href="../details/{{Id}}">{{GivenName}}</a></td>
        <td><a href="../details/{{Id}}">{{Surname}}</a></td>
        <td><a href="../details/{{Id}}">{{PassportType}}</a></td>
        <td><a href="../details/{{Id}}">{{ApplyingFor}}</a></td>
        <td><a href="../details/{{Id}}">{{ApplicationType}}</a></td>
      </tr>
      {{/locals.applications}}{%endraw%}
    </tbody>
  </table>
  <!-- <div class="text-center">
    <ul class="pagination">
      <li <%= (current > 0) ? "><a href=\"?currentPage="+(current-1)+"&amp;resultsPerPage="+length+((detailsISBN!=null)?"&autoSelectFirst":"")+"\">&laquo;</a" : "class=\"disabled\"><span>&laquo;</span"%>></li>
      <%
        for (int i = 0; i < totalPages; i++) {
          if (i == current) {
      %>
      <li class="active"><span> <%=i+1%> <span class="sr-only">(current) </span></span></li>
      <%  } else { %>
      <li><a href="?currentPage=<%=""+i+"&amp;resultsPerPage="+length+((detailsISBN!=null)?"&autoSelectFirst":"")+"\"> "+(i+1)%> </a></li>
      <%
          }
        }
      %>
      <li <%= (current < totalPages-1) ? "><a href=\"?currentPage="+(current+1)+"&amp;resultsPerPage="+length+((detailsISBN!=null)?"&autoSelectFirst":"")+"\">&raquo;</a" : "class=\"disabled\"><span>&raquo;</span"%>></li>
    </ul>
  </div> -->
</div>