---
layout: default
title: Citizen Registration
---
<div class="container-fluid">
  <div class="page-header">
    <h1 class="text-muted text-center">New User Registration</h1>
  </div>
  <div class="panel panel-default">
    <div class="panel-heading">Please enter your details:</div>
    <div class="panel-body">
      <form role="form" action="/citizen-registration/" method="post" data-enable-shim="true" class="form-horizontal ws-validate">
        <div class="form-group has-feedback">
          <label class="col-sm-3 control-label" for="givenName">Given Name&nbsp;<span class="info-text">(Max 45 Characters) </span><span class="mandatory">*</span></label>
          <div class="col-sm-9">
            <input class="form-control" autocapitalize="on" type="text" spellcheck="false" pattern="^[^0-9\-]*$" {% set_attribute_named_when_autofill GivenName%} maxlength="255" id="givenName" aria-required="true" autofocus="" required="" />
            <span class="glyphicon glyphicon-ok form-control-feedback"></span><span class="glyphicon glyphicon-remove form-control-feedback"></span>
            <p class="help-block"><strong>First Name + Middle Name</strong>. Initials and honorifics (e.g. Dr.,Col.,etc.) are not allowed.</p>
          </div>
        </div>
        <div class="form-group has-feedback">
          <label class="col-sm-3 control-label" for="Surname">Surname&nbsp;<span class="info-text" >(Max 45 Characters) </span></label>
          <div class="col-sm-9">
            <input class="form-control" autocapitalize="on" type="text" spellcheck="false" {% set_attribute_named_when_autofill Surname%} maxlength="255" id="Surname">
            <span class="glyphicon glyphicon-ok form-control-feedback"></span><span class="glyphicon glyphicon-remove form-control-feedback"></span>
            <p class="help-block"></p>
          </div>
        </div>
        <div class="form-group has-feedback">
          <label class="col-sm-3 control-label" for="HasAliases">Are you known by any other names(aliases)?<span class="mandatory">*</span></label>
          <div class="col-sm-9">
            {%raw%}{{#locals.attr_list.HasAliases}}
            <label for="HA{{key}}" class="radio-inline"><input type="radio" id="HA{{key}}" data-grouprequired="" value="{{key}}" {%endraw%}{% set_attribute_named_when_autofill HasAliases%}{%raw%} /> {{value}}</label>
            {{/locals.attr_list.HasAliases}}{%endraw%}
            <p class="help-block"></p>
          </div>
        </div>
        <div class="form-group has-feedback">
          <label class="col-sm-3 control-label" for="HaveChangedName">Have you ever changed your name ?<span class="mandatory">*</span></label>
          <div class="col-sm-9">
            {%raw%}{{#locals.attr_list.HaveChangedName}}
            <label for="HCN{{key}}" class="radio-inline"><input type="radio" id="HCN{{key}}" data-grouprequired="" value="{{key}}" {%endraw%}{% set_attribute_named_when_autofill HaveChangedName%}{%raw%} /> {{value}}</label>
            {{/locals.attr_list.HaveChangedName}}{%endraw%}
            <p class="help-block"></p>
          </div>
        </div>
        <div class="form-group has-feedback">
          <label for="ContactNumber" class="col-sm-3 control-label">Contact Number</label>
          <div class="col-sm-9">
            <div class="input-group">
              <span class="input-group-addon"><i class="fa fa-phone"></i></span><!-- "[\+]\d{2}[\(]\d{2}[\)]\d{4}[\-]\d{4}" "^\+(?:[0-9] ?){6,14}[0-9]$" -->
              <input id="ContactNumber" {% include tel.html %} {% set_attribute_named_when_autofill ContactNumber%} class="form-control" title="Contact Number" >
            </div>
            <span class="glyphicon glyphicon-ok form-control-feedback"></span><span class="glyphicon glyphicon-remove form-control-feedback"></span>
            <p class="help-block"> </p>
          </div>
        </div>
        <div class="form-group has-feedback">
          <label class="col-sm-3 control-label" for="DateOfBirth">Date of Birth (MM/DD/YYYY)<span class="mandatory">*</span></label>
          <div class="col-sm-9">
            <input type="date" class="form-control inputbtns-outside hide-spinbtns max-today" {%raw%}max="{{locals.today}}"{%endraw%} data-date='{"openOnMouseFocus": true, "updateOnInput": true}' {% set_attribute_named_when_autofill DateOfBirth%} maxlength="255" id="DateOfBirth" aria-required="true" required="" title="Date of Birth">
            <span class="glyphicon glyphicon-ok form-control-feedback"></span><span class="glyphicon glyphicon-remove form-control-feedback"></span>
            <p class="help-block"></p>
          </div>
        </div>
        <hr />
        <h4>Place Of Birth</h4>
        <div class="form-group has-feedback">
          <label for="City" class="col-sm-3 control-label">Village or Town or City<span class="mandatory">*</span></label>
          <div class="col-sm-9">
            <input type="text" id="City" {% set_attribute_named_when_autofill City%} maxlength="255" class="form-control" required="" />
            <span class="glyphicon glyphicon-ok form-control-feedback"></span><span class="glyphicon glyphicon-remove form-control-feedback"></span>
            <p class="help-block"></p>
          </div>
        </div>
        <div class="form-group has-feedback">
          <label for="Country" class="col-sm-3 control-label">Country&nbsp;<span class="info-text" >(If abroad)</span><span class="mandatory">*</span></label>
          <div class="col-sm-9">
            <input type="text" id="Country" {% set_attribute_named_when_autofill Country%} maxlength="255" class="form-control" required="" />
            <span class="glyphicon glyphicon-ok form-control-feedback"></span><span class="glyphicon glyphicon-remove form-control-feedback"></span>
            <p class="help-block"></p>
          </div>
        </div>
        <div class="form-group has-feedback">
          <label for="State" class="col-sm-3 control-label">State&nbsp;<span class="info-text" >(If in India)</span><span class="mandatory">*</span></label>
          <div class="col-sm-9">
            <input type="text" id="State" {% set_attribute_named_when_autofill State%} maxlength="255" class="form-control" required="" />
            <span class="glyphicon glyphicon-ok form-control-feedback"></span><span class="glyphicon glyphicon-remove form-control-feedback"></span>
            <p class="help-block">If born before 15/08/1947 in a place now in Pakistan or Bangladesh, select "Undivided India".</p>
          </div>
        </div>
        <div class="form-group has-feedback">
          <label for="District" class="col-sm-3 control-label">District&nbsp;<span class="info-text" >(If in India)</span><span class="mandatory">*</span></label>
          <div class="col-sm-9">
            <input type="text" id="District" {% set_attribute_named_when_autofill District%} maxlength="255" class="form-control" required="" />
            <span class="glyphicon glyphicon-ok form-control-feedback"></span><span class="glyphicon glyphicon-remove form-control-feedback"></span>
            <p class="help-block"></p>
          </div>
        </div>
        <div class="form-group has-feedback">
          <label for="Gender" class="col-sm-3 control-label">Gender<span class="mandatory">*</span></label>
          <div class="col-sm-9">
            {%raw%}{{#locals.attr_list.Gender}}
            <label for="G{{key}}" class="radio-inline"><input type="radio" id="G{{key}}" data-grouprequired="" value="{{key}}" {%endraw%}{% set_attribute_named_when_autofill Gender%}{%raw%} /> {{value}}</label>
            {{/locals.attr_list.Gender}}{%endraw%}
            <p class="help-block"></p>
          </div>
        </div>
        <div class="form-group has-feedback">
          <label for="MaritalStatus" class="col-sm-3 control-label">Marital Status<span class="mandatory">*</span></label>
          <div class="col-sm-9">
            <select id="MaritalStatus" {% set_attribute_named_when_autofill MaritalStatus%} aria-required="true" required="" />
              <option disabled>----- Select -----</option>
              {%raw%}{{#locals.attr_list.MaritalStatus}}
              <option value="{{key}}">{{value}}</option>
              {{/locals.attr_list.MaritalStatus}}{%endraw%}
            </select>
            <p class="help-block"></p>
          </div>
        </div>
        <div class="form-group has-feedback">
          <label for="CitizenshipBy" class="col-sm-3 control-label">Citizenship of India by<span class="mandatory">*</span></label>
          <div class="col-sm-9">
            <select id="CitizenshipBy" {% set_attribute_named_when_autofill CitizenshipBy%} aria-required="true" required="" />
              <option disabled>----- Select -----</option>
              {%raw%}{{#locals.attr_list.CitizenshipBy}}
              <option value="{{key}}">{{value}}</option>
              {{/locals.attr_list.CitizenshipBy}}{%endraw%}
            </select>
            <p class="help-block"></p>
          </div>
        </div>
        <div class="form-group has-feedback">
          <label for="PAN" class="col-sm-3 control-label">PAN&nbsp;<span class="info-text" >(If available)</span></label>
          <div class="col-sm-9">
            <input type="text" id="PAN" {% set_attribute_named_when_autofill PAN%} maxlength="255" class="form-control">
            <span class="glyphicon glyphicon-ok form-control-feedback"></span><span class="glyphicon glyphicon-remove form-control-feedback"></span>
            <p class="help-block"></p>
          </div>
        </div>
        <div class="form-group has-feedback">
          <label for="VoterID" class="col-sm-3 control-label">Voter ID&nbsp;<span class="info-text" >(If available)</span></label>
          <div class="col-sm-9">
            <input type="text" id="VoterID" {% set_attribute_named_when_autofill VoterID%} maxlength="255" class="form-control">
            <span class="glyphicon glyphicon-ok form-control-feedback"></span><span class="glyphicon glyphicon-remove form-control-feedback"></span>
            <p class="help-block"></p>
          </div>
        </div>
        <div class="form-group has-feedback">
          <label for="EmploymentType" class="col-sm-3 control-label">Employment Type<span class="mandatory">*</span></label>
          <div class="col-sm-9">
            <select id="EmploymentType" {% set_attribute_named_when_autofill EmploymentType%} aria-required="true" required="" />
              <option disabled>----- Select -----</option>
              {%raw%}{{#locals.attr_list.EmploymentType}}
              <option value="{{key}}">{{value}}</option>
              {{/locals.attr_list.EmploymentType}}{%endraw%}
            </select>
            <p class="help-block"></p>
          </div>
        </div>
        <div class="form-group has-feedback">
          <label for="EducationalQualification" class="col-sm-3 control-label">Educational Qualification<span class="mandatory">*</span></label>
          <div class="col-sm-9">
            <select id="EducationalQualification" {% set_attribute_named_when_autofill EducationalQualification%} aria-required="true" required="" />
              <option disabled>----- Select -----</option>
              {%raw%}{{#locals.attr_list.EducationalQualification}}
              <option value="{{key}}">{{value}}</option>
              {{/locals.attr_list.EducationalQualification}}{%endraw%}
            </select>
            <p class="help-block"></p>
          </div>
        </div>
        <div class="form-group has-feedback">
          <label for="AadhaarNumber" class="col-sm-3 control-label">Aadhaar Number</label>
          <div class="col-sm-9">
            <input type="number" id="AadhaarNumber" {% set_attribute_named_when_autofill AadhaarNumber%} min="100000000" maxlength="20" class="form-control">
            <span class="glyphicon glyphicon-ok form-control-feedback"></span><span class="glyphicon glyphicon-remove form-control-feedback"></span>
            <p class="help-block"></p>
          </div>
        </div>
        <hr />
        <h4>Family Details (Father/Mother/Legal Guardian details; at least one is mandatory.) <span class="mandatory">*</span></h4>
        <div class="form-group has-feedback">
          <label class="col-sm-3 control-label" for="FatherGivenName">Father's Given Name&nbsp;<span class="info-text" >(Max 45 Characters) </span></label>
          <div class="col-sm-9">
            <input class="form-control" type="text" autocapitalize="on" spellcheck="false" {% set_attribute_named_when_autofill FatherGivenName%} maxlength="255" id="FatherGivenName" aria-required="true" required="" />
            <span class="glyphicon glyphicon-ok form-control-feedback"></span><span class="glyphicon glyphicon-remove form-control-feedback"></span>
            <p class="help-block"><strong>First Name + Middle Name</strong>. Initials and honorifics (e.g. Dr.,Col.,etc.) are not allowed.</p>
          </div>
        </div>
        <div class="form-group has-feedback">
          <label class="col-sm-3 control-label" for="FatherSurname">Father's Surname&nbsp;<span class="info-text" >(Max 45 Characters) </span></label>
          <div class="col-sm-9">
            <input class="form-control" type="text" autocapitalize="on" spellcheck="false" {% set_attribute_named_when_autofill FatherSurname%} maxlength="255" id="FatherSurname">
            <span class="glyphicon glyphicon-ok form-control-feedback"></span><span class="glyphicon glyphicon-remove form-control-feedback"></span>
            <p class="help-block"></p>
          </div>
        </div>
        <div class="form-group has-feedback">
          <label class="col-sm-3 control-label" for="MotherGivenName">Mother's Given Name&nbsp;<span class="info-text" >(Max 45 Characters) </span></label>
          <div class="col-sm-9">
            <input class="form-control" type="text" autocapitalize="on" spellcheck="false" {% set_attribute_named_when_autofill MotherGivenName%} maxlength="255" id="MotherGivenName" aria-required="true" required="" />
            <span class="glyphicon glyphicon-ok form-control-feedback"></span><span class="glyphicon glyphicon-remove form-control-feedback"></span>
            <p class="help-block"><strong>First Name + Middle Name</strong>. Initials and honorifics (e.g. Dr.,Col.,etc.) are not allowed.</p>
          </div>
        </div>
        <div class="form-group has-feedback">
          <label class="col-sm-3 control-label" for="MotherSurname">Mother's Surname&nbsp;<span class="info-text" >(Max 45 Characters) </span></label>
          <div class="col-sm-9">
            <input class="form-control" type="text" autocapitalize="on" spellcheck="false" {% set_attribute_named_when_autofill MotherSurname%} maxlength="255" id="MotherSurname">
            <span class="glyphicon glyphicon-ok form-control-feedback"></span><span class="glyphicon glyphicon-remove form-control-feedback"></span>
            <p class="help-block"></p>
          </div>
        </div>
        <div class="form-group has-feedback">
          <label class="col-sm-3 control-label" for="LegalGuardianGivenName">Legal Guardian's Given Name&nbsp;<span class="info-text" >(Max 45 Characters) </span></label>
          <div class="col-sm-9">
            <input class="form-control" type="text" autocapitalize="on" spellcheck="false" {% set_attribute_named_when_autofill LegalGuardianGivenName%} maxlength="255" id="LegalGuardianGivenName" aria-required="true" required="" />
            <span class="glyphicon glyphicon-ok form-control-feedback"></span><span class="glyphicon glyphicon-remove form-control-feedback"></span>
            <p class="help-block"><strong>First Name + Middle Name</strong>. Initials and honorifics (e.g. Dr.,Col.,etc.) are not allowed.</p>
          </div>
        </div>
        <div class="form-group has-feedback">
          <label class="col-sm-3 control-label" for="LegalGuardianSurname">Legal Guardian's Surname&nbsp;<span class="info-text" >(Max 45 Characters) </span></label>
          <div class="col-sm-9">
            <input class="form-control" type="text" autocapitalize="on" spellcheck="false" {% set_attribute_named_when_autofill LegalGuardianSurname%} maxlength="255" id="LegalGuardianSurname">
            <span class="glyphicon glyphicon-ok form-control-feedback"></span><span class="glyphicon glyphicon-remove form-control-feedback"></span>
            <p class="help-block"></p>
          </div>
        </div>
        <hr />
        <h4>Present Residential Address Details (where applicant presently resides)</h4>
        <div class="form-group has-feedback">
          <label class="col-sm-3 control-label" for="PresentAddressOutOfCountry">Is your present address out of India? <span class="mandatory">*</span></label>
          <div class="col-sm-9">
            {%raw%}{{#locals.attr_list.PresentAddressOutOfCountry}}
            <label for="PAOC{{key}}" class="radio-inline"><input type="radio" id="PAOC{{key}}" data-grouprequired="" value="{{key}}" {%endraw%}{% set_attribute_named_when_autofill PresentAddressOutOfCountry%}{%raw%} /> {{value}}</label>
            {{/locals.attr_list.PresentAddressOutOfCountry}}{%endraw%}
            <p class="help-block"></p>
          </div>
        </div>
        <hr />
        <h4>References in your Village or Town or City</h4>
        <div class="form-group has-feedback">
          <label for="FirstReferenceNameandAddress" class="col-sm-3 control-label">First Reference Name and Address<span class="mandatory">*</span></label>
          <div class="col-sm-9">
            <input type="text" id="FirstReferenceNameandAddress" {% set_attribute_named_when_autofill FirstReferenceNameandAddress%} maxlength="255" class="form-control" required="" />
            <span class="glyphicon glyphicon-ok form-control-feedback"></span><span class="glyphicon glyphicon-remove form-control-feedback"></span>
            <p class="help-block"></p>
          </div>
        </div>
        <div class="form-group has-feedback">
          <label for="FirstReferenceMobileNumber" class="col-sm-3 control-label">Mobile Number</label>
          <div class="col-sm-9">
            <div class="input-group">
              <span class="input-group-addon"><i class="fa fa-phone"></i></span>
              <input id="FirstReferenceMobileNumber" {% include tel.html %} {% set_attribute_named_when_autofill FirstReferenceMobileNumber%} class="form-control">
            </div>
            <span class="glyphicon glyphicon-ok form-control-feedback"></span><span class="glyphicon glyphicon-remove form-control-feedback"></span>
            <p class="help-block"></p>
          </div>
        </div>
        <div class="form-group has-feedback">
          <label for="SecondReferenceNameandAddress" class="col-sm-3 control-label">Second Reference Name and Address<span class="mandatory">*</span></label>
          <div class="col-sm-9">
            <input type="text" id="SecondReferenceNameandAddress" {% set_attribute_named_when_autofill SecondReferenceNameandAddress%} maxlength="255" class="form-control" required="" />
            <span class="glyphicon glyphicon-ok form-control-feedback"></span><span class="glyphicon glyphicon-remove form-control-feedback"></span>
            <p class="help-block"></p>
          </div>
        </div>
        <div class="form-group has-feedback">
          <label for="SecondReferenceMobileNumber" class="col-sm-3 control-label">Mobile Number</label>
          <div class="col-sm-9">
            <div class="input-group">
              <span class="input-group-addon"><i class="fa fa-phone"></i></span>
              <input id="SecondReferenceMobileNumber" {% include tel.html %} {% set_attribute_named_when_autofill SecondReferenceMobileNumber%} class="form-control">
            </div>
            <span class="glyphicon glyphicon-ok form-control-feedback"></span><span class="glyphicon glyphicon-remove form-control-feedback"></span>
            <p class="help-block"></p>
          </div>
        </div>
        <hr />
        <h4>Emergency Contact Details </h4>
        <div class="form-group has-feedback">
          <label for="EmergencyNameAndAddress" class="col-sm-3 control-label">Name and Address<span class="mandatory">*</span></label>
          <div class="col-sm-9">
            <input type="text" id="EmergencyNameAndAddress" {% set_attribute_named_when_autofill EmergencyNameAndAddress%} maxlength="255" class="form-control" required="" />
            <span class="glyphicon glyphicon-ok form-control-feedback"></span><span class="glyphicon glyphicon-remove form-control-feedback"></span>
            <p class="help-block"></p>
          </div>
        </div>
        <div class="form-group has-feedback">
          <label for="EmergencyMobileNumber" class="col-sm-3 control-label">Mobile Number</label>
          <div class="col-sm-9">
            <div class="input-group">
              <span class="input-group-addon"><i class="fa fa-phone"></i></span>
              <input id="EmergencyMobileNumber" {% include tel.html %} {% set_attribute_named_when_autofill EmergencyMobileNumber%} class="form-control">
            </div>
            <span class="glyphicon glyphicon-ok form-control-feedback"></span><span class="glyphicon glyphicon-remove form-control-feedback"></span>
            <p class="help-block"></p>
          </div>
        </div>
        <hr />
        <h4>Previous Passport / Application Details</h4>
        <div class="form-group has-feedback">
          <label for="AppliedButNotIssued" class="col-sm-3 control-label">Have you ever applied for passport, but not issued?<span class="mandatory">*</span></label>
          <div class="col-sm-9">
            {%raw%}{{#locals.attr_list.AppliedButNotIssued}}
            <label for="ABNI{{key}}" class="radio-inline"><input type="radio" id="ABNI{{key}}" data-grouprequired="" value="{{key}}" {%endraw%}{% set_attribute_named_when_autofill AppliedButNotIssued%}{%raw%} /> {{value}}</label>
            {{/locals.attr_list.AppliedButNotIssued}}{%endraw%}
            <p class="help-block"></p>
          </div>
        </div>
        <div class="form-group has-feedback">
          <label for="PreviousPassportNumber" class="col-sm-3 control-label">Previous Passport Number</label>
          <div class="col-sm-9">
            <input type="text" id="PreviousPassportNumber" {% set_attribute_named_when_autofill PreviousPassportNumber%} maxlength="255" class="form-control">
            <p class="help-block"></p>
          </div>
        </div>
        <hr />
        <h4>Other Details</h4>
        <div class="form-group has-feedback">
          <label for="OtherDetails1" class="col-sm-10 control-label text-left">1) Have you ever been charged with criminal proceedings or any arrest warrant/ summon pending before a court of India? <span class="mandatory">*</span></label>
          <div class="col-sm-2">
            {%raw%}{{#locals.attr_list.OtherDetails1}}
            <label for="OD1{{key}}" class="radio-inline"><input type="radio" id="OD1{{key}}" value="{{key}}" data-grouprequired="" {%endraw%}{% set_attribute_named_when_autofill OtherDetails1%}{%raw%} /> {{value}}</label>
            {{/locals.attr_list.OtherDetails1}}{%endraw%}
            <p class="help-block"></p>
          </div>
        </div>
        <div class="form-group has-feedback">
          <label for="OtherDetails2" class="col-sm-10 control-label text-left">2) Have you at any time during the period of 5 years immediately preceding the date of this application been convicted by a court in India for any criminal offence and sentenced to imprisonment for two years or more? <span class="mandatory">*</span></label>
          <div class="col-sm-2">
            {%raw%}{{#locals.attr_list.OtherDetails2}}
            <label for="OD2{{key}}" class="radio-inline"><input type="radio" id="OD2{{key}}" value="{{key}}" data-grouprequired="" {%endraw%}{% set_attribute_named_when_autofill OtherDetails2%}{%raw%} /> {{value}}</label>
            {{/locals.attr_list.OtherDetails2}}{%endraw%}
            <p class="help-block"></p>
          </div>
        </div>
        <div class="form-group has-feedback">
          <label for="OtherDetails3" class="col-sm-10 control-label text-left">3) Have you ever been refused or denied passport?  <span class="mandatory">*</span></label>
          <div class="col-sm-2">
            {%raw%}{{#locals.attr_list.OtherDetails3}}
            <label for="OD3{{key}}" class="radio-inline"><input type="radio" id="OD3{{key}}" value="{{key}}" data-grouprequired="" {%endraw%}{% set_attribute_named_when_autofill OtherDetails3%}{%raw%} /> {{value}}</label>
            {{/locals.attr_list.OtherDetails3}}{%endraw%}
            <p class="help-block"></p>
          </div>
        </div>
        <div class="form-group has-feedback">
          <label for="OtherDetails4" class="col-sm-10 control-label text-left">4) Has your Passport ever been impounded or Revoked? <span class="mandatory">*</span></label>
          <div class="col-sm-2">
            {%raw%}{{#locals.attr_list.OtherDetails4}}
            <label for="OD4{{key}}" class="radio-inline"><input type="radio" id="OD4{{key}}" value="{{key}}" data-grouprequired="" {%endraw%}{% set_attribute_named_when_autofill OtherDetails4%}{%raw%} /> {{value}}</label>
            {{/locals.attr_list.OtherDetails4}}{%endraw%}
            <p class="help-block"></p>
          </div>
        </div>
        <div class="form-group has-feedback">
          <label for="OtherDetails5" class="col-sm-10 control-label text-left">5) Have you ever applied for/been granted political asylum to/by any foreign country? <span class="mandatory">*</span></label>
          <div class="col-sm-2">
            {%raw%}{{#locals.attr_list.OtherDetails5}}
            <label for="OD5{{key}}" class="radio-inline"><input type="radio" id="OD5{{key}}" value="{{key}}" data-grouprequired="" {%endraw%}{% set_attribute_named_when_autofill OtherDetails5%}{%raw%} /> {{value}}</label>
            {{/locals.attr_list.OtherDetails5}}{%endraw%}
            <p class="help-block"></p>
          </div>
        </div>
        <div class="form-group has-feedback">
          <label for="OtherDetails6" class="col-sm-10 control-label text-left">6) Have you ever returned to India on Emergency Certificate (EC) or were ever deported or repatriated? <span class="mandatory">*</span></label>
          <div class="col-sm-2">
            {%raw%}{{#locals.attr_list.OtherDetails6}}
            <label for="OD6{{key}}" class="radio-inline"><input type="radio" id="OD6{{key}}" value="{{key}}" data-grouprequired="" {%endraw%}{% set_attribute_named_when_autofill OtherDetails6%}{%raw%} /> {{value}}</label>
            {{/locals.attr_list.OtherDetails6}}{%endraw%}
            <p class="help-block"></p>
          </div>
        </div>
        <hr />
        <h4>Self Declaration</h4>
        <!-- <div class="form-group has-feedback"> -->
          <div class="panel panel-info">
            <div class="panel-body">
              I owe allegiance to the sovereignty, unity &amp; integrity of India, and have not voluntarily acquired citizenship or travel document of any other country. I have not lost, surrendered or been deprived of the the citizenship of India and I affirm that the information given by me in this form and the enclosures is true and I solely responsible for its accuracy, and I am liable to be penalized or prosecuted if found otherwise. I am aware that under the Passport Act, 1967 it is a criminal offence to furnish any false information or to suppress any material information with a view to obtaining passport or travel document.
            </div>
            <div class="panel-footer">
              <label class="checkbox-inline">
                <input type="checkbox" id="inlineCheckbox1" value="option1"> I Agree
              </label>
            </div>
          </div>
        <!-- </div> -->
        <div class="form-group has-feedback">
          <div class="col-sm-offset-1 col-sm-11">
            <input type="submit" id="frmSample_register" value="Register" class="btn btn-primary">
            <input type="reset" id="frmSample_clear" value="Clear" class="btn btn-default">
          </div>
        </div>
      </form>
    </div>
  </div>
</div>