<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js" lang="en"> <!--<![endif]-->
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <title>Password Reset · Passpot Management System</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width">

    <!-- Place favicon.ico and apple-touch-icon.png in the root directory -->

    <link rel="stylesheet" href="/css/normalize.css" />
    <link rel="stylesheet" href="/bower_components/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="/bower_components/bootstrap/dist/css/bootstrap-theme.css" />
    <link rel="stylesheet" href="/bower_components/font-awesome/css/font-awesome.min.css" />
    <link rel="stylesheet" href="/css/main.css" />
    

    <script src="/bower_components/modernizr/modernizr.js" type="text/javascript"></script>
    <!-- <script src="//ajax.googleapis.com/ajax/libs/jquery/2/jquery.min.js"></script>
    <script>window.jQuery || document.write('<script src="/bower_components/jquery/dist/jquery.min.js"><\/script>')</script> -->
    <script src="/bower_components/jquery/dist/jquery.min.js"></script>
    <script src="/bower_components/webshim/js-webshim/minified/polyfiller.js"></script>
    <script type="text/javascript">
      importScript = function(src, defer, id, callback) {
        var sp = document.createElement('script');
        sp.type = "text/javascript";
        sp.src = src;
        sp.async = true;
        id && (sp.id = id);
        defer && (sp.defer = "defer");
        callback && (sp.onload = sp.onreadystatechange = function() {
          var rs = this.readyState;
          if(rs && rs != 'complete' && rs != 'loaded') return;
          try{ callback(); } catch(e) {console.error(e)}
        });
        var s=document.getElementsByTagName('script')[0];
        s.parentNode.insertBefore(sp,s);
      };

      
      importScript('/bower_components/bootstrap/dist/js/bootstrap.min.js',
        false,
       'js-bootstrap',
        null);
      
      importScript('/components/selectToAutocomplete/jquery-ui-autocomplete.js',
        false,
       'js-jquery_ui_autocomplete',
        null);
      
      importScript('/components/selectToAutocomplete/jquery.select-to-autocomplete.min.js',
        false,
       'js-selectToAutocomplete',
        null);
      
      importScript('/bower_components/country-region-selector/source/crs.min.js',
        false,
       'js-country_region_selector',
        null);
      
      importScript('/js/plugins.js',
        false,
       'js-plugins',
        null);
      
      importScript('/js/main.js',
        false,
       'js-main',
        null);
      
    </script>
  </head>
  <body>
    
    <!--[if lt IE 7]>
<div id="dev-warnng" class="alert alert-danger">
  <p class="chromeframe">
    You are using an <strong>outdated</strong> browser.
    Please <a href="http://browsehappy.com/" class="alert-link>upgrade your browser</a> or
    <a href="http://www.google.com/chromeframe/?redirect=true" class="alert-link>activate Google Chrome Frame</a> to improve your experience.
  </p>
</div>
<![endif]-->
{{^session.dont_warn}}
<div id="dev-warning" class="alert alert-warning alert-dismissable">
  <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
  <a href="/_dismiss-warning?redirect={{encodedOriginalUrl}}" class="alert-link pull-right" >Dont show again</a>
  <strong>Warning!</strong> This is an academic project, not the official page.
  It's available under <a href="https://raw.github.com/abhishekmunie/btech-project-passport-management-system/master/LICENSE" target="_blank" class="alert-link">MIT Licence</a> at <a href="https://github.com/abhishekmunie/btech-project-passport-management-system" target="_blank" class="alert-link">GitHub</a>
</div>
{{/session.dont_warn}}

    <nav class="navbar navbar-inverse navbar-static-top" role="navigation">
  <div class="container-fluid">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="http://btech-project-passport-management-system.abhishekmunie.com">Passport Management System</a>
    </div>
    <div class="navbar-collapse collapse">
      <ul class="nav navbar-nav">
        <li class=""><a href="/"> <i class="fa fa-home fa-lg"></i> </a></li>
        <li class=""><a href="/about">About</a></li>
        <li class=""><a href="/contact">Contact</a></li>
        
      </ul>
      <ul class="nav navbar-nav navbar-right">
        {{#session.user}}
        <li class="dropdown">
          <a class="btn dropdown-toggle" data-toggle="dropdown" href="/user/">
            <span class="glyphicon glyphicon-user"></span>
            {{#session.user.name}}{{session.user.name}}{{/session.user.name}}{{^session.user.name}}{{session.user.email}}{{/session.user.name}} <span class="fa fa-caret-down"></span></a>
          <ul class="dropdown-menu">
            <li><a href="/dashboard/"><i class="fa fa-user fa-fw"></i> Dashboard</a></li>
            <li><a href="/dashboard/settings"><i class="fa fa-cogs fa-fw"></i> Settings</a></li>
            <li class="divider"></li>
            <li><a href="/auth/signout"><i class="fa fa-ban fa-fw"></i> Sign out</a></li>
          </ul>
        </li>
        {{/session.user}}{{^session.user}}
        <li><a href="/auth/signin">Sign in</a></li>
        {{/session.user}}
      </ul>
    </div><!--/.nav-collapse -->
  </div>
</nav>


    <div class="container-fluid">
  <div class="page-header">
      <h1 class="text-muted text-center">Authentication</h1>
  </div>
  <div class="container-fluid">
  
{{#locals.success}}
<div class="alert alert-success alert-dismissable">
  <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
  {{#locals.success.details}}
  <details>
    <summary><strong>Success!</strong> {{locals.success.message}}</summary>
    <p>{{{locals.success.details}}}</p>
  </details>
  {{/locals.success.details}}{{^locals.success.details}}
  <strong>Success!</strong> {{locals.success.message}}</summary>
  {{/locals.success.details}}
</div>
{{/locals.success}}
{{#locals.error}}
<div class="alert alert-danger alert-dismissable">
  <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
  {{#locals.error.details}}
  <details>
    <summary><strong>Error!</strong> {{locals.error.message}}</summary>
    <p>{{{locals.error.details}}}</p>
  </details>
  {{/locals.error.details}}{{^locals.error.details}}
  <strong>Error!</strong> {{locals.error.message}}</summary>
  {{/locals.error.details}}
</div>
{{/locals.error}}


  
  {{^locals.hideForm}}
  <div class="panel panel-default center-block auth-panel">
    <div class="panel-heading">
      <h3 class="panel-title">Please create new credentials for your account</h3>
    </div>
    <div class="panel-body">
      <form action="/auth/reset/{{locals.encodedResetKey}}" method="post" class="form-signin ws-validate" role="form">
        <div class="form-group has-feedback">
          <label class="control-label" for="email">Email</label>
          <input type="email" class="form-control form-control-static" name="email" id="email" value="{{locals.email}}" placeholder="Enter your email" disabled />
            <span class="glyphicon glyphicon-ok form-control-feedback"></span><span class="glyphicon glyphicon-remove form-control-feedback"></span>
        </div>
        <div class="form-group has-feedback">
          <label class="control-label" for="password">Password<span class="mandatory">*</span></label>
          <input class="form-control new-password" type="password" name="password" id="password" pattern="(?=^.{8,}$)((?=.*\d)|(?=.*\W+))(?![.\n])(?=.*[A-Z])(?=.*[a-z]).*$" minlength="8" maxlength="255" aria-required="true" autofocus="" required="" />
            <span class="glyphicon glyphicon-ok form-control-feedback"></span><span class="glyphicon glyphicon-remove form-control-feedback"></span>
          <p class="help-block"><a data-toggle="modal" data-target="#PasswordPolicyModal" title="Password Policy">Password Policy</a></p>
        </div>
        <div class="form-group has-feedback">
          <label class="control-label" for="confirmPassword">Confirm Password<span class="mandatory">*</span></label>
          <input class="form-control confirm-password" type="password" name="confirmPassword" data-dependent-validation="password" pattern="(?=^.{8,}$)((?=.*\d)|(?=.*\W+))(?![.\n])(?=.*[A-Z])(?=.*[a-z]).*$" minlength="8" maxlength="255" id="confirmPassword" aria-required="true" required="" data-errormessage-dependent="Confirmation Password should be same as Password!" />
            <span class="glyphicon glyphicon-ok form-control-feedback"></span><span class="glyphicon glyphicon-remove form-control-feedback"></span>
          <p class="help-block"></p>
          <div class="clearfix"></div>
        </div>
        <div class="ws-errorbox" hidden="">
          <p data-errortype="dependent">you have to confirm your password!</p>
        </div>
        {{#query.redirect}}<input type="hidden" name="redirect" value="{{query.redirect}}">{{/query.redirect}}
        <input class="btn btn-primary btn-block" type="submit" value="Reset Password" />
      </form>
    </div>
  </div>
  {{/locals.hideForm}}
  
</div>
<!-- Password Policy Modal -->
<div class="modal fade" id="PasswordPolicyModal" tabindex="-1" role="dialog" aria-labelledby="PasswordPolicyModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h4 class="modal-title" id="PasswordPolicyModalLabel">Password Policy</h4>
      </div>
      <div class="modal-body">
        <ol>
          <li>Should contain aleast one uppercase, lowercase, number/special character.</li>
          <li>Should have a minimum length of 10.</li>
        </ol>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>

</div>


    <!-- FOOTER -->
    <footer id="footer">
      <div class="container text-center">
        <a id="heroku-powered" href="https://www.heroku.com" title="Heroku" class="pull-left">
          <img src="/images/heroku-logo.png" target="_blank" /><br />
          Powered by Heroku (pronounced her-OH-koo)
        </a>
        <span class="pull-right">2014 ASE Inc. &middot; <a href="/privay">Privacy</a> &middot; <a href="/terms">Terms</a></span>
        <a href="https://apple.com/mac" class="text-center">
          <i id="mac-logo" class="fa fa-apple fa-2x"></i><br />
          Created on a Mac
        </a>
      </div>
    </footer>


    
  </body>
</html>
