<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js" lang="en"> <!--<![endif]-->
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <title>Citizen Registration · Passpot Management System</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width">

    <!-- Place favicon.ico and apple-touch-icon.png in the root directory -->

    <link rel="stylesheet" href="/css/normalize.css" />
    <link rel="stylesheet" href="/bower_components/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="/bower_components/bootstrap/dist/css/bootstrap-theme.css" />
    <link rel="stylesheet" href="/bower_components/font-awesome/css/font-awesome.min.css" />
    <link rel="stylesheet" href="/css/main.css" />
    

    <script src="/bower_components/modernizr/modernizr.js" type="text/javascript"></script>
    <!-- <script src="//ajax.googleapis.com/ajax/libs/jquery/2/jquery.min.js"></script>
    <script>window.jQuery || document.write('<script src="/bower_components/jquery/dist/jquery.min.js"><\/script>')</script> -->
    <script src="/bower_components/jquery/dist/jquery.min.js"></script>
    <script src="/bower_components/webshim/js-webshim/minified/polyfiller.js"></script>
    <script type="text/javascript">
      importScript = function(src, defer, id, callback) {
        var sp = document.createElement('script');
        sp.type = "text/javascript";
        sp.src = src;
        sp.async = true;
        id && (sp.id = id);
        defer && (sp.defer = "defer");
        callback && (sp.onload = sp.onreadystatechange = function() {
          var rs = this.readyState;
          if(rs && rs != 'complete' && rs != 'loaded') return;
          try{ callback(); } catch(e) {console.error(e)}
        });
        var s=document.getElementsByTagName('script')[0];
        s.parentNode.insertBefore(sp,s);
      };

      
      importScript('/bower_components/bootstrap/dist/js/bootstrap.min.js',
        false,
       'js-bootstrap',
        null);
      
      importScript('/components/selectToAutocomplete/jquery-ui-autocomplete.js',
        false,
       'js-jquery_ui_autocomplete',
        null);
      
      importScript('/components/selectToAutocomplete/jquery.select-to-autocomplete.min.js',
        false,
       'js-selectToAutocomplete',
        null);
      
      importScript('/bower_components/country-region-selector/source/crs.min.js',
        false,
       'js-country_region_selector',
        null);
      
      importScript('/js/plugins.js',
        false,
       'js-plugins',
        null);
      
      importScript('/js/main.js',
        false,
       'js-main',
        null);
      
    </script>
  </head>
  <body>
    
    <!--[if lt IE 7]>
<div id="dev-warnng" class="alert alert-danger">
  <p class="chromeframe">
    You are using an <strong>outdated</strong> browser.
    Please <a href="http://browsehappy.com/" class="alert-link>upgrade your browser</a> or
    <a href="http://www.google.com/chromeframe/?redirect=true" class="alert-link>activate Google Chrome Frame</a> to improve your experience.
  </p>
</div>
<![endif]-->
{{^session.dont_warn}}
<div id="dev-warning" class="alert alert-warning alert-dismissable">
  <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
  <a href="/_dismiss-warning?redirect={{encodedOriginalUrl}}" class="alert-link pull-right" >Dont show again</a>
  <strong>Warning!</strong> This is an academic project, not the official page.
  It's available under <a href="https://raw.github.com/abhishekmunie/btech-project-passport-management-system/master/LICENSE" target="_blank" class="alert-link">MIT Licence</a> at <a href="https://github.com/abhishekmunie/btech-project-passport-management-system" target="_blank" class="alert-link">GitHub</a>
</div>
{{/session.dont_warn}}

    <nav class="navbar navbar-inverse navbar-static-top" role="navigation">
  <div class="container-fluid">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="http://btech-project-passport-management-system.abhishekmunie.com">Passport Management System</a>
    </div>
    <div class="navbar-collapse collapse">
      <ul class="nav navbar-nav">
        <li class=""><a href="/"> <i class="fa fa-home fa-lg"></i> </a></li>
        <li class=""><a href="/about">About</a></li>
        <li class=""><a href="/contact">Contact</a></li>
        
      </ul>
      <ul class="nav navbar-nav navbar-right">
        {{#session.user}}
        <li class="dropdown">
          <a class="btn dropdown-toggle" data-toggle="dropdown" href="/user/">
            <span class="glyphicon glyphicon-user"></span>
            {{#session.user.name}}{{session.user.name}}{{/session.user.name}}{{^session.user.name}}{{session.user.email}}{{/session.user.name}} <span class="fa fa-caret-down"></span></a>
          <ul class="dropdown-menu">
            <li><a href="/dashboard/"><i class="fa fa-user fa-fw"></i> Dashboard</a></li>
            <li><a href="/dashboard/settings"><i class="fa fa-cogs fa-fw"></i> Settings</a></li>
            <li class="divider"></li>
            <li><a href="/auth/signout"><i class="fa fa-ban fa-fw"></i> Sign out</a></li>
          </ul>
        </li>
        {{/session.user}}{{^session.user}}
        <li><a href="/auth/signin">Sign in</a></li>
        {{/session.user}}
      </ul>
    </div><!--/.nav-collapse -->
  </div>
</nav>


    <div class="container-fluid">
  <div class="page-header">
    <h1 class="text-muted text-center">New User Registration</h1>
  </div>
  
{{#locals.success}}
<div class="alert alert-success alert-dismissable">
  <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
  {{#locals.success.details}}
  <details>
    <summary><strong>Success!</strong> {{locals.success.message}}</summary>
    <p>{{{locals.success.details}}}</p>
  </details>
  {{/locals.success.details}}{{^locals.success.details}}
  <strong>Success!</strong> {{locals.success.message}}</summary>
  {{/locals.success.details}}
</div>
{{/locals.success}}
{{#locals.error}}
<div class="alert alert-danger alert-dismissable">
  <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
  {{#locals.error.details}}
  <details>
    <summary><strong>Error!</strong> {{locals.error.message}}</summary>
    <p>{{{locals.error.details}}}</p>
  </details>
  {{/locals.error.details}}{{^locals.error.details}}
  <strong>Error!</strong> {{locals.error.message}}</summary>
  {{/locals.error.details}}
</div>
{{/locals.error}}


  <div class="panel panel-default">
    <div class="panel-heading">Please enter your details:</div>
    <div class="panel-body">
      <form role="form" action="/citizen-registration/" method="post" data-enable-shim="true" class="form-horizontal ws-validate">
        <div class="form-group has-feedback">
          <label class="col-sm-3 control-label" for="GivenName">Given Name&nbsp;<span class="info-text">(Max 45 Characters) </span><span class="mandatory">*</span></label>
          <div class="col-sm-9">
            <input class="form-control" autocapitalize="on" type="text" spellcheck="false" pattern="^[^0-9\-]*$" name="GivenName" {{#locals.autoFillUsingLocals}}{{#locals.GivenName}}value="{{locals.GivenName}}"{{/locals.GivenName}}{{/locals.autoFillUsingLocals}} maxlength="255" id="GivenName" aria-required="true" autofocus="" required="" />
            <span class="glyphicon glyphicon-ok form-control-feedback"></span><span class="glyphicon glyphicon-remove form-control-feedback"></span>
            <p class="help-block"><strong>First Name + Middle Name</strong>. Initials and honorifics (e.g. Dr.,Col.,etc.) are not allowed.</p>
          </div>
        </div>
        <div class="form-group has-feedback">
          <label class="col-sm-3 control-label" for="Surname">Surname&nbsp;<span class="info-text" >(Max 45 Characters) </span></label>
          <div class="col-sm-9">
            <input class="form-control" autocapitalize="on" type="text" spellcheck="false" name="Surname" {{#locals.autoFillUsingLocals}}{{#locals.Surname}}value="{{locals.Surname}}"{{/locals.Surname}}{{/locals.autoFillUsingLocals}} maxlength="255" id="Surname">
            <span class="glyphicon glyphicon-ok form-control-feedback"></span><span class="glyphicon glyphicon-remove form-control-feedback"></span>
            <p class="help-block"></p>
          </div>
        </div>
        <div class="form-group has-feedback">
          <label class="col-sm-3 control-label" for="HasAliases">Are you known by any other names(aliases)?<span class="mandatory">*</span></label>
          <div class="col-sm-9">
            {{#locals.attr_list.HasAliases}}
            <label for="HA{{key}}" class="radio-inline"><input type="radio" id="HA{{key}}" data-grouprequired="" value="{{key}}" name="HasAliases" {{#locals.autoFillUsingLocals}}{{#locals.HasAliases}}value="{{locals.HasAliases}}"{{/locals.HasAliases}}{{/locals.autoFillUsingLocals}} /> {{value}}</label>
            {{/locals.attr_list.HasAliases}}
            <p class="help-block"></p>
          </div>
        </div>
        <div class="form-group has-feedback">
          <label class="col-sm-3 control-label" for="HaveChangedName">Have you ever changed your name ?<span class="mandatory">*</span></label>
          <div class="col-sm-9">
            {{#locals.attr_list.HaveChangedName}}
            <label for="HCN{{key}}" class="radio-inline"><input type="radio" id="HCN{{key}}" data-grouprequired="" value="{{key}}" name="HaveChangedName" {{#locals.autoFillUsingLocals}}{{#locals.HaveChangedName}}value="{{locals.HaveChangedName}}"{{/locals.HaveChangedName}}{{/locals.autoFillUsingLocals}} /> {{value}}</label>
            {{/locals.attr_list.HaveChangedName}}
            <p class="help-block"></p>
          </div>
        </div>
        <div class="form-group has-feedback">
          <label for="ContactNumber" class="col-sm-3 control-label">Contact Number</label>
          <div class="col-sm-9">
            <div class="input-group">
              <span class="input-group-addon"><i class="fa fa-phone"></i></span><!-- "[\+]\d{2}[\(]\d{2}[\)]\d{4}[\-]\d{4}" "^\+(?:[0-9] ?){6,14}[0-9]$" -->
              <input id="ContactNumber" type="tel" pattern="^(\+(?:[0-9]){2} ?)?(\(?[0-9]{3}\)?|(?: ?\-?[0-9]){3})(?: ?\-?[0-9]){7}$" maxlength="18" autocorrect="off" spellcheck="false" autocapitalize="off" name="ContactNumber" {{#locals.autoFillUsingLocals}}{{#locals.ContactNumber}}value="{{locals.ContactNumber}}"{{/locals.ContactNumber}}{{/locals.autoFillUsingLocals}} class="form-control" title="Contact Number" >
            </div>
            <span class="glyphicon glyphicon-ok form-control-feedback"></span><span class="glyphicon glyphicon-remove form-control-feedback"></span>
            <p class="help-block"> </p>
          </div>
        </div>
        <div class="form-group has-feedback">
          <label class="col-sm-3 control-label" for="DateOfBirth">Date of Birth&nbsp;<span class="info-text">(MM/DD/YYYY)</span><span class="mandatory">*</span></label>
          <div class="col-sm-9">
            <input type="date" class="form-control inputbtns-outside hide-spinbtns max-today" max="{{locals.today}}" data-date='{"openOnMouseFocus": true, "updateOnInput": true}' name="DateOfBirth" {{#locals.autoFillUsingLocals}}{{#locals.DateOfBirth}}value="{{locals.DateOfBirth}}"{{/locals.DateOfBirth}}{{/locals.autoFillUsingLocals}} maxlength="255" id="DateOfBirth" aria-required="true" required="" title="Date of Birth">
            <span class="glyphicon glyphicon-ok form-control-feedback"></span><span class="glyphicon glyphicon-remove form-control-feedback"></span>
            <p class="help-block"></p>
          </div>
        </div>
        <hr />
        <h4>Place Of Birth</h4>
        <div class="form-group has-feedback">
          <label for="City" class="col-sm-3 control-label">Village or Town or City<span class="mandatory">*</span></label>
          <div class="col-sm-9">
            <input type="text" id="City" name="City" {{#locals.autoFillUsingLocals}}{{#locals.City}}value="{{locals.City}}"{{/locals.City}}{{/locals.autoFillUsingLocals}} maxlength="255" class="form-control" required="" />
            <span class="glyphicon glyphicon-ok form-control-feedback"></span><span class="glyphicon glyphicon-remove form-control-feedback"></span>
            <p class="help-block"></p>
          </div>
        </div>
        <div class="form-group has-feedback">
          <label for="Country" class="col-sm-3 control-label">Country <span class="mandatory">*</span></label>
          <div class="col-sm-9">
            <select class="form-control input-sm crs-country select-to-autocomplete" id="Country" name="Country" {{#locals.autoFillUsingLocals}}{{#locals.Country}}value="{{locals.Country}}"{{/locals.Country}}{{/locals.autoFillUsingLocals}} data-region-id="State" data-default-value="India" required="" />
            </select>
            <span class="glyphicon glyphicon-ok form-control-feedback"></span><span class="glyphicon glyphicon-remove form-control-feedback"></span>
            <p class="help-block"></p>
          </div>
        </div>
        <div class="form-group has-feedback">
          <label for="State" class="col-sm-3 control-label">State </span><span class="mandatory">*</span></label>
          <div class="col-sm-9">
            <select class="form-control input-sm select-to-autocomplete" id="State" name="State" {{#locals.autoFillUsingLocals}}{{#locals.State}}value="{{locals.State}}"{{/locals.State}}{{/locals.autoFillUsingLocals}} maxlength="255" required="" >
            </select>
            <span class="glyphicon glyphicon-ok form-control-feedback"></span><span class="glyphicon glyphicon-remove form-control-feedback"></span>
            <!-- <p class="help-block">If born before 15/08/1947 in a place now in Pakistan or Bangladesh, select "Undivided India".</p> -->
          </div>
        </div>
        <div class="form-group has-feedback">
          <label for="District" class="col-sm-3 control-label">District </span><span class="mandatory">*</span></label>
          <div class="col-sm-9">
            <input type="text" id="District" name="District" {{#locals.autoFillUsingLocals}}{{#locals.District}}value="{{locals.District}}"{{/locals.District}}{{/locals.autoFillUsingLocals}} maxlength="255" class="form-control" required="" />
            <span class="glyphicon glyphicon-ok form-control-feedback"></span><span class="glyphicon glyphicon-remove form-control-feedback"></span>
            <p class="help-block"></p>
          </div>
        </div>
        <div class="form-group has-feedback">
          <label for="Gender" class="col-sm-3 control-label">Gender<span class="mandatory">*</span></label>
          <div class="col-sm-9">
            {{#locals.attr_list.Gender}}
            <label for="G{{key}}" class="radio-inline"><input type="radio" id="G{{key}}" data-grouprequired="" value="{{key}}" name="Gender" {{#locals.autoFillUsingLocals}}{{#locals.Gender}}value="{{locals.Gender}}"{{/locals.Gender}}{{/locals.autoFillUsingLocals}} /> {{value}}</label>
            {{/locals.attr_list.Gender}}
            <p class="help-block"></p>
          </div>
        </div>
        <div class="form-group has-feedback">
          <label for="MaritalStatus" class="col-sm-3 control-label">Marital Status<span class="mandatory">*</span></label>
          <div class="col-sm-9">
            <select class="form-control input-sm" id="MaritalStatus" name="MaritalStatus" {{#locals.autoFillUsingLocals}}{{#locals.MaritalStatus}}value="{{locals.MaritalStatus}}"{{/locals.MaritalStatus}}{{/locals.autoFillUsingLocals}} aria-required="true" required="" />
              <option disabled>----- Select -----</option>
              {{#locals.attr_list.MaritalStatus}}
              <option value="{{key}}">{{value}}</option>
              {{/locals.attr_list.MaritalStatus}}
            </select>
            <p class="help-block"></p>
          </div>
        </div>
        <div class="form-group has-feedback">
          <label for="CitizenshipBy" class="col-sm-3 control-label">Citizenship of India by<span class="mandatory">*</span></label>
          <div class="col-sm-9">
            <select class="form-control input-sm" id="CitizenshipBy" name="CitizenshipBy" {{#locals.autoFillUsingLocals}}{{#locals.CitizenshipBy}}value="{{locals.CitizenshipBy}}"{{/locals.CitizenshipBy}}{{/locals.autoFillUsingLocals}} aria-required="true" required="" />
              <option disabled>----- Select -----</option>
              {{#locals.attr_list.CitizenshipBy}}
              <option value="{{key}}">{{value}}</option>
              {{/locals.attr_list.CitizenshipBy}}
            </select>
            <p class="help-block"></p>
          </div>
        </div>
        <div class="form-group has-feedback">
          <label for="PAN" class="col-sm-3 control-label">PAN&nbsp;<span class="info-text" >(If available)</span></label>
          <div class="col-sm-9">
            <input type="text" id="PAN" name="PAN" {{#locals.autoFillUsingLocals}}{{#locals.PAN}}value="{{locals.PAN}}"{{/locals.PAN}}{{/locals.autoFillUsingLocals}} maxlength="255" class="form-control">
            <span class="glyphicon glyphicon-ok form-control-feedback"></span><span class="glyphicon glyphicon-remove form-control-feedback"></span>
            <p class="help-block"></p>
          </div>
        </div>
        <div class="form-group has-feedback">
          <label for="VoterID" class="col-sm-3 control-label">Voter ID&nbsp;<span class="info-text" >(If available)</span></label>
          <div class="col-sm-9">
            <input type="text" id="VoterID" name="VoterID" {{#locals.autoFillUsingLocals}}{{#locals.VoterID}}value="{{locals.VoterID}}"{{/locals.VoterID}}{{/locals.autoFillUsingLocals}} maxlength="255" class="form-control">
            <span class="glyphicon glyphicon-ok form-control-feedback"></span><span class="glyphicon glyphicon-remove form-control-feedback"></span>
            <p class="help-block"></p>
          </div>
        </div>
        <div class="form-group has-feedback">
          <label for="EmploymentType" class="col-sm-3 control-label">Employment Type<span class="mandatory">*</span></label>
          <div class="col-sm-9">
            <select class="form-control input-sm" id="EmploymentType" name="EmploymentType" {{#locals.autoFillUsingLocals}}{{#locals.EmploymentType}}value="{{locals.EmploymentType}}"{{/locals.EmploymentType}}{{/locals.autoFillUsingLocals}} aria-required="true" required="" />
              <option disabled>----- Select -----</option>
              {{#locals.attr_list.EmploymentType}}
              <option value="{{key}}">{{value}}</option>
              {{/locals.attr_list.EmploymentType}}
            </select>
            <p class="help-block"></p>
          </div>
        </div>
        <div class="form-group has-feedback">
          <label for="EducationalQualification" class="col-sm-3 control-label">Educational Qualification<span class="mandatory">*</span></label>
          <div class="col-sm-9">
            <select class="form-control input-sm" id="EducationalQualification" name="EducationalQualification" {{#locals.autoFillUsingLocals}}{{#locals.EducationalQualification}}value="{{locals.EducationalQualification}}"{{/locals.EducationalQualification}}{{/locals.autoFillUsingLocals}} aria-required="true" required="" />
              <option disabled>----- Select -----</option>
              {{#locals.attr_list.EducationalQualification}}
              <option value="{{key}}">{{value}}</option>
              {{/locals.attr_list.EducationalQualification}}
            </select>
            <p class="help-block"></p>
          </div>
        </div>
        <div class="form-group has-feedback">
          <label for="AadhaarNumber" class="col-sm-3 control-label">Aadhaar Number</label>
          <div class="col-sm-9">
            <input type="number" id="AadhaarNumber" name="AadhaarNumber" {{#locals.autoFillUsingLocals}}{{#locals.AadhaarNumber}}value="{{locals.AadhaarNumber}}"{{/locals.AadhaarNumber}}{{/locals.autoFillUsingLocals}} min="100000000" maxlength="20" class="form-control">
            <span class="glyphicon glyphicon-ok form-control-feedback"></span><span class="glyphicon glyphicon-remove form-control-feedback"></span>
            <p class="help-block"></p>
          </div>
        </div>
        <hr />
        <h4>Family Details (Father/Mother/Legal Guardian details; at least one is mandatory.) <span class="mandatory">*</span></h4>
        <div class="form-group has-feedback">
          <label class="col-sm-3 control-label" for="FatherGivenName">Father's Given Name&nbsp;<span class="info-text" >(Max 45 Characters) </span></label>
          <div class="col-sm-9">
            <input class="form-control" type="text" autocapitalize="on" spellcheck="false" name="FatherGivenName" {{#locals.autoFillUsingLocals}}{{#locals.FatherGivenName}}value="{{locals.FatherGivenName}}"{{/locals.FatherGivenName}}{{/locals.autoFillUsingLocals}} maxlength="255" id="FatherGivenName" aria-required="true" required="" />
            <span class="glyphicon glyphicon-ok form-control-feedback"></span><span class="glyphicon glyphicon-remove form-control-feedback"></span>
            <p class="help-block"><strong>First Name + Middle Name</strong>. Initials and honorifics (e.g. Dr.,Col.,etc.) are not allowed.</p>
          </div>
        </div>
        <div class="form-group has-feedback">
          <label class="col-sm-3 control-label" for="FatherSurname">Father's Surname&nbsp;<span class="info-text" >(Max 45 Characters) </span></label>
          <div class="col-sm-9">
            <input class="form-control" type="text" autocapitalize="on" spellcheck="false" name="FatherSurname" {{#locals.autoFillUsingLocals}}{{#locals.FatherSurname}}value="{{locals.FatherSurname}}"{{/locals.FatherSurname}}{{/locals.autoFillUsingLocals}} maxlength="255" id="FatherSurname">
            <span class="glyphicon glyphicon-ok form-control-feedback"></span><span class="glyphicon glyphicon-remove form-control-feedback"></span>
            <p class="help-block"></p>
          </div>
        </div>
        <div class="form-group has-feedback">
          <label class="col-sm-3 control-label" for="MotherGivenName">Mother's Given Name&nbsp;<span class="info-text" >(Max 45 Characters) </span></label>
          <div class="col-sm-9">
            <input class="form-control" type="text" autocapitalize="on" spellcheck="false" name="MotherGivenName" {{#locals.autoFillUsingLocals}}{{#locals.MotherGivenName}}value="{{locals.MotherGivenName}}"{{/locals.MotherGivenName}}{{/locals.autoFillUsingLocals}} maxlength="255" id="MotherGivenName" aria-required="true" required="" />
            <span class="glyphicon glyphicon-ok form-control-feedback"></span><span class="glyphicon glyphicon-remove form-control-feedback"></span>
            <p class="help-block"><strong>First Name + Middle Name</strong>. Initials and honorifics (e.g. Dr.,Col.,etc.) are not allowed.</p>
          </div>
        </div>
        <div class="form-group has-feedback">
          <label class="col-sm-3 control-label" for="MotherSurname">Mother's Surname&nbsp;<span class="info-text" >(Max 45 Characters) </span></label>
          <div class="col-sm-9">
            <input class="form-control" type="text" autocapitalize="on" spellcheck="false" name="MotherSurname" {{#locals.autoFillUsingLocals}}{{#locals.MotherSurname}}value="{{locals.MotherSurname}}"{{/locals.MotherSurname}}{{/locals.autoFillUsingLocals}} maxlength="255" id="MotherSurname">
            <span class="glyphicon glyphicon-ok form-control-feedback"></span><span class="glyphicon glyphicon-remove form-control-feedback"></span>
            <p class="help-block"></p>
          </div>
        </div>
        <div class="form-group has-feedback">
          <label class="col-sm-3 control-label" for="LegalGuardianGivenName">Legal Guardian's Given Name&nbsp;<span class="info-text" >(Max 45 Characters) </span></label>
          <div class="col-sm-9">
            <input class="form-control" type="text" autocapitalize="on" spellcheck="false" name="LegalGuardianGivenName" {{#locals.autoFillUsingLocals}}{{#locals.LegalGuardianGivenName}}value="{{locals.LegalGuardianGivenName}}"{{/locals.LegalGuardianGivenName}}{{/locals.autoFillUsingLocals}} maxlength="255" id="LegalGuardianGivenName" aria-required="true" required="" />
            <span class="glyphicon glyphicon-ok form-control-feedback"></span><span class="glyphicon glyphicon-remove form-control-feedback"></span>
            <p class="help-block"><strong>First Name + Middle Name</strong>. Initials and honorifics (e.g. Dr.,Col.,etc.) are not allowed.</p>
          </div>
        </div>
        <div class="form-group has-feedback">
          <label class="col-sm-3 control-label" for="LegalGuardianSurname">Legal Guardian's Surname&nbsp;<span class="info-text" >(Max 45 Characters) </span></label>
          <div class="col-sm-9">
            <input class="form-control" type="text" autocapitalize="on" spellcheck="false" name="LegalGuardianSurname" {{#locals.autoFillUsingLocals}}{{#locals.LegalGuardianSurname}}value="{{locals.LegalGuardianSurname}}"{{/locals.LegalGuardianSurname}}{{/locals.autoFillUsingLocals}} maxlength="255" id="LegalGuardianSurname">
            <span class="glyphicon glyphicon-ok form-control-feedback"></span><span class="glyphicon glyphicon-remove form-control-feedback"></span>
            <p class="help-block"></p>
          </div>
        </div>
        <hr />
        <h4>Present Residential Address Details (where applicant presently resides)</h4>
        <div class="form-group has-feedback">
          <label class="col-sm-3 control-label" for="PresentAddressOutOfCountry">Is your present address out of India? <span class="mandatory">*</span></label>
          <div class="col-sm-9">
            {{#locals.attr_list.PresentAddressOutOfCountry}}
            <label for="PAOC{{key}}" class="radio-inline"><input type="radio" id="PAOC{{key}}" data-grouprequired="" value="{{key}}" name="PresentAddressOutOfCountry" {{#locals.autoFillUsingLocals}}{{#locals.PresentAddressOutOfCountry}}value="{{locals.PresentAddressOutOfCountry}}"{{/locals.PresentAddressOutOfCountry}}{{/locals.autoFillUsingLocals}} /> {{value}}</label>
            {{/locals.attr_list.PresentAddressOutOfCountry}}
            <p class="help-block"></p>
          </div>
        </div>
        <hr />
        <h4>References in your Village or Town or City</h4>
        <div class="form-group has-feedback">
          <label for="FirstReferenceNameandAddress" class="col-sm-3 control-label">First Reference Name and Address<span class="mandatory">*</span></label>
          <div class="col-sm-9">
            <input type="text" id="FirstReferenceNameandAddress" name="FirstReferenceNameandAddress" {{#locals.autoFillUsingLocals}}{{#locals.FirstReferenceNameandAddress}}value="{{locals.FirstReferenceNameandAddress}}"{{/locals.FirstReferenceNameandAddress}}{{/locals.autoFillUsingLocals}} maxlength="255" class="form-control" required="" />
            <span class="glyphicon glyphicon-ok form-control-feedback"></span><span class="glyphicon glyphicon-remove form-control-feedback"></span>
            <p class="help-block"></p>
          </div>
        </div>
        <div class="form-group has-feedback">
          <label for="FirstReferenceMobileNumber" class="col-sm-3 control-label">Mobile Number</label>
          <div class="col-sm-9">
            <div class="input-group">
              <span class="input-group-addon"><i class="fa fa-phone"></i></span>
              <input id="FirstReferenceMobileNumber" type="tel" pattern="^(\+(?:[0-9]){2} ?)?(\(?[0-9]{3}\)?|(?: ?\-?[0-9]){3})(?: ?\-?[0-9]){7}$" maxlength="18" autocorrect="off" spellcheck="false" autocapitalize="off" name="FirstReferenceMobileNumber" {{#locals.autoFillUsingLocals}}{{#locals.FirstReferenceMobileNumber}}value="{{locals.FirstReferenceMobileNumber}}"{{/locals.FirstReferenceMobileNumber}}{{/locals.autoFillUsingLocals}} class="form-control">
            </div>
            <span class="glyphicon glyphicon-ok form-control-feedback"></span><span class="glyphicon glyphicon-remove form-control-feedback"></span>
            <p class="help-block"></p>
          </div>
        </div>
        <div class="form-group has-feedback">
          <label for="SecondReferenceNameandAddress" class="col-sm-3 control-label">Second Reference Name and Address<span class="mandatory">*</span></label>
          <div class="col-sm-9">
            <input type="text" id="SecondReferenceNameandAddress" name="SecondReferenceNameandAddress" {{#locals.autoFillUsingLocals}}{{#locals.SecondReferenceNameandAddress}}value="{{locals.SecondReferenceNameandAddress}}"{{/locals.SecondReferenceNameandAddress}}{{/locals.autoFillUsingLocals}} maxlength="255" class="form-control" required="" />
            <span class="glyphicon glyphicon-ok form-control-feedback"></span><span class="glyphicon glyphicon-remove form-control-feedback"></span>
            <p class="help-block"></p>
          </div>
        </div>
        <div class="form-group has-feedback">
          <label for="SecondReferenceMobileNumber" class="col-sm-3 control-label">Mobile Number</label>
          <div class="col-sm-9">
            <div class="input-group">
              <span class="input-group-addon"><i class="fa fa-phone"></i></span>
              <input id="SecondReferenceMobileNumber" type="tel" pattern="^(\+(?:[0-9]){2} ?)?(\(?[0-9]{3}\)?|(?: ?\-?[0-9]){3})(?: ?\-?[0-9]){7}$" maxlength="18" autocorrect="off" spellcheck="false" autocapitalize="off" name="SecondReferenceMobileNumber" {{#locals.autoFillUsingLocals}}{{#locals.SecondReferenceMobileNumber}}value="{{locals.SecondReferenceMobileNumber}}"{{/locals.SecondReferenceMobileNumber}}{{/locals.autoFillUsingLocals}} class="form-control">
            </div>
            <span class="glyphicon glyphicon-ok form-control-feedback"></span><span class="glyphicon glyphicon-remove form-control-feedback"></span>
            <p class="help-block"></p>
          </div>
        </div>
        <hr />
        <h4>Emergency Contact Details </h4>
        <div class="form-group has-feedback">
          <label for="EmergencyNameAndAddress" class="col-sm-3 control-label">Name and Address<span class="mandatory">*</span></label>
          <div class="col-sm-9">
            <input type="text" id="EmergencyNameAndAddress" name="EmergencyNameAndAddress" {{#locals.autoFillUsingLocals}}{{#locals.EmergencyNameAndAddress}}value="{{locals.EmergencyNameAndAddress}}"{{/locals.EmergencyNameAndAddress}}{{/locals.autoFillUsingLocals}} maxlength="255" class="form-control" required="" />
            <span class="glyphicon glyphicon-ok form-control-feedback"></span><span class="glyphicon glyphicon-remove form-control-feedback"></span>
            <p class="help-block"></p>
          </div>
        </div>
        <div class="form-group has-feedback">
          <label for="EmergencyMobileNumber" class="col-sm-3 control-label">Mobile Number</label>
          <div class="col-sm-9">
            <div class="input-group">
              <span class="input-group-addon"><i class="fa fa-phone"></i></span>
              <input id="EmergencyMobileNumber" type="tel" pattern="^(\+(?:[0-9]){2} ?)?(\(?[0-9]{3}\)?|(?: ?\-?[0-9]){3})(?: ?\-?[0-9]){7}$" maxlength="18" autocorrect="off" spellcheck="false" autocapitalize="off" name="EmergencyMobileNumber" {{#locals.autoFillUsingLocals}}{{#locals.EmergencyMobileNumber}}value="{{locals.EmergencyMobileNumber}}"{{/locals.EmergencyMobileNumber}}{{/locals.autoFillUsingLocals}} class="form-control">
            </div>
            <span class="glyphicon glyphicon-ok form-control-feedback"></span><span class="glyphicon glyphicon-remove form-control-feedback"></span>
            <p class="help-block"></p>
          </div>
        </div>
        <hr />
        <h4>Previous Passport / Application Details</h4>
        <div class="form-group has-feedback">
          <label for="AppliedButNotIssued" class="col-sm-3 control-label">Have you ever applied for passport, but not issued?<span class="mandatory">*</span></label>
          <div class="col-sm-9">
            {{#locals.attr_list.AppliedButNotIssued}}
            <label for="ABNI{{key}}" class="radio-inline"><input type="radio" id="ABNI{{key}}" data-grouprequired="" value="{{key}}" name="AppliedButNotIssued" {{#locals.autoFillUsingLocals}}{{#locals.AppliedButNotIssued}}value="{{locals.AppliedButNotIssued}}"{{/locals.AppliedButNotIssued}}{{/locals.autoFillUsingLocals}} /> {{value}}</label>
            {{/locals.attr_list.AppliedButNotIssued}}
            <p class="help-block"></p>
          </div>
        </div>
        <div class="form-group has-feedback">
          <label for="PreviousPassportNumber" class="col-sm-3 control-label">Previous Passport Number</label>
          <div class="col-sm-9">
            <input type="text" id="PreviousPassportNumber" name="PreviousPassportNumber" {{#locals.autoFillUsingLocals}}{{#locals.PreviousPassportNumber}}value="{{locals.PreviousPassportNumber}}"{{/locals.PreviousPassportNumber}}{{/locals.autoFillUsingLocals}} data-dependent-validation='{"from":"ABNIy", "prop": "required"}' maxlength="255" class="form-control">
            <p class="help-block"></p>
          </div>
        </div>
        <hr />
        <h4>Other Details</h4>
        <div class="form-group has-feedback">
          <label for="OtherDetails1" class="col-sm-10 control-label text-left">1) Have you ever been charged with criminal proceedings or any arrest warrant/ summon pending before a court of India? <span class="mandatory">*</span></label>
          <div class="col-sm-2">
            {{#locals.attr_list.OtherDetails1}}
            <label for="OD1{{key}}" class="radio-inline"><input type="radio" id="OD1{{key}}" value="{{key}}" data-grouprequired="" name="OtherDetails1" {{#locals.autoFillUsingLocals}}{{#locals.OtherDetails1}}value="{{locals.OtherDetails1}}"{{/locals.OtherDetails1}}{{/locals.autoFillUsingLocals}} /> {{value}}</label>
            {{/locals.attr_list.OtherDetails1}}
            <p class="help-block"></p>
          </div>
        </div>
        <div class="form-group has-feedback">
          <label for="OtherDetails2" class="col-sm-10 control-label text-left">2) Have you at any time during the period of 5 years immediately preceding the date of this application been convicted by a court in India for any criminal offence and sentenced to imprisonment for two years or more? <span class="mandatory">*</span></label>
          <div class="col-sm-2">
            {{#locals.attr_list.OtherDetails2}}
            <label for="OD2{{key}}" class="radio-inline"><input type="radio" id="OD2{{key}}" value="{{key}}" data-grouprequired="" name="OtherDetails2" {{#locals.autoFillUsingLocals}}{{#locals.OtherDetails2}}value="{{locals.OtherDetails2}}"{{/locals.OtherDetails2}}{{/locals.autoFillUsingLocals}} /> {{value}}</label>
            {{/locals.attr_list.OtherDetails2}}
            <p class="help-block"></p>
          </div>
        </div>
        <div class="form-group has-feedback">
          <label for="OtherDetails3" class="col-sm-10 control-label text-left">3) Have you ever been refused or denied passport?  <span class="mandatory">*</span></label>
          <div class="col-sm-2">
            {{#locals.attr_list.OtherDetails3}}
            <label for="OD3{{key}}" class="radio-inline"><input type="radio" id="OD3{{key}}" value="{{key}}" data-grouprequired="" name="OtherDetails3" {{#locals.autoFillUsingLocals}}{{#locals.OtherDetails3}}value="{{locals.OtherDetails3}}"{{/locals.OtherDetails3}}{{/locals.autoFillUsingLocals}} /> {{value}}</label>
            {{/locals.attr_list.OtherDetails3}}
            <p class="help-block"></p>
          </div>
        </div>
        <div class="form-group has-feedback">
          <label for="OtherDetails4" class="col-sm-10 control-label text-left">4) Has your Passport ever been impounded or Revoked? <span class="mandatory">*</span></label>
          <div class="col-sm-2">
            {{#locals.attr_list.OtherDetails4}}
            <label for="OD4{{key}}" class="radio-inline"><input type="radio" id="OD4{{key}}" value="{{key}}" data-grouprequired="" name="OtherDetails4" {{#locals.autoFillUsingLocals}}{{#locals.OtherDetails4}}value="{{locals.OtherDetails4}}"{{/locals.OtherDetails4}}{{/locals.autoFillUsingLocals}} /> {{value}}</label>
            {{/locals.attr_list.OtherDetails4}}
            <p class="help-block"></p>
          </div>
        </div>
        <div class="form-group has-feedback">
          <label for="OtherDetails5" class="col-sm-10 control-label text-left">5) Have you ever applied for/been granted political asylum to/by any foreign country? <span class="mandatory">*</span></label>
          <div class="col-sm-2">
            {{#locals.attr_list.OtherDetails5}}
            <label for="OD5{{key}}" class="radio-inline"><input type="radio" id="OD5{{key}}" value="{{key}}" data-grouprequired="" name="OtherDetails5" {{#locals.autoFillUsingLocals}}{{#locals.OtherDetails5}}value="{{locals.OtherDetails5}}"{{/locals.OtherDetails5}}{{/locals.autoFillUsingLocals}} /> {{value}}</label>
            {{/locals.attr_list.OtherDetails5}}
            <p class="help-block"></p>
          </div>
        </div>
        <div class="form-group has-feedback">
          <label for="OtherDetails6" class="col-sm-10 control-label text-left">6) Have you ever returned to India on Emergency Certificate (EC) or were ever deported or repatriated? <span class="mandatory">*</span></label>
          <div class="col-sm-2">
            {{#locals.attr_list.OtherDetails6}}
            <label for="OD6{{key}}" class="radio-inline"><input type="radio" id="OD6{{key}}" value="{{key}}" data-grouprequired="" name="OtherDetails6" {{#locals.autoFillUsingLocals}}{{#locals.OtherDetails6}}value="{{locals.OtherDetails6}}"{{/locals.OtherDetails6}}{{/locals.autoFillUsingLocals}} /> {{value}}</label>
            {{/locals.attr_list.OtherDetails6}}
            <p class="help-block"></p>
          </div>
        </div>
        <hr />
        <h4>Self Declaration</h4>
        <!-- <div class="form-group has-feedback"> -->
          <div class="panel panel-info">
            <div class="panel-body">
              I owe allegiance to the sovereignty, unity &amp; integrity of India, and have not voluntarily acquired citizenship or travel document of any other country. I have not lost, surrendered or been deprived of the the citizenship of India and I affirm that the information given by me in this form and the enclosures is true and I solely responsible for its accuracy, and I am liable to be penalized or prosecuted if found otherwise. I am aware that under the Passport Act, 1967 it is a criminal offence to furnish any false information or to suppress any material information with a view to obtaining passport or travel document.
            </div>
            <div class="panel-footer">
              <label class="checkbox-inline">
                <input type="checkbox" id="inlineCheckbox1" value="option1" data-grouprequired="" required="" > I Agree
              </label>
            </div>
          </div>
        <!-- </div> -->
        <div class="form-group">
          <div class="col-sm-12">
            <input type="submit" value="Register" class="btn btn-primary">
            <input type="reset" value="Clear" class="btn btn-default">
          </div>
        </div>
      </form>
    </div>
  </div>
</div>

    <!-- FOOTER -->
    <footer id="footer">
      <div class="container text-center">
        <a id="heroku-powered" href="https://www.heroku.com" title="Heroku" class="pull-left">
          <img src="/images/heroku-logo.png" target="_blank" /><br />
          Powered by Heroku (pronounced her-OH-koo)
        </a>
        <span class="pull-right">2014 ASE Inc. &middot; <a href="/privay">Privacy</a> &middot; <a href="/terms">Terms</a></span>
        <a href="https://apple.com/mac" class="text-center">
          <i id="mac-logo" class="fa fa-apple fa-2x"></i><br />
          Created on a Mac
        </a>
      </div>
    </footer>


    
  </body>
</html>
